<div class="container">
<h3>index works!</h3>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let obj of tableData">
        <th>{{obj.id}}</th>
        <td>{{obj.name}}</td>
        <td>{{obj.address}}</td>
        <td><button [routerLink]="['/edit/',obj.id]" class="btn btn-primary">Edit </button> 
          &nbsp;<button class="btn btn-danger" (click)="deleteData(obj.id)"> Delete</button></td>

      </tr>
    </tbody>
  </table>

</div>